**/.git
**/.gitignore
**/.next/cache
**/node_modules
**/__pycache__
**/*.pyc
**/.venv
**/venv
**/.env
backend/.env
frontend/.env.local
frontend/.env.*
!.env.example
!backend/.env.example
!frontend/.env.example
